<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
<!--    <type name="Magenest\Movie\Model\ResourceModel\MageMovie\Grid\Collection">-->
<!--        <arguments>-->
<!--            <argument name="mainTable" xsi:type="string">magenest_movie</argument>-->
<!--            <argument name="eventPrefix" xsi:type="string">magenest_movie_grid_collection</argument>-->
<!--            <argument name="eventObject" xsi:type="string">magenest_movie_collection</argument>-->
<!--            <argument name="resourceModel" xsi:type="string">Magenest\Movie\Model\ResourceModel\MageMovie</argument>-->
<!--        </arguments>-->
<!--    </type>-->
<!--    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">-->
<!--        <arguments>-->
<!--            <argument name="collections" xsi:type="array">-->
<!--                &lt;!&ndash;data provider name which used in grid ui component file &ndash;&gt;-->
<!--                <item name="magenest_movie_grid_listing_data_source" xsi:type="string">Magenest\Movie\Model\ResourceModel\MageMovie\Grid\Collection</item>-->
<!--            </argument>-->
<!--        </arguments>-->
<!--    </type>-->


    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magenest_magemovie_listing_data_source" xsi:type="string">Magenest\Movie\Model\ResourceModel\MageMovie\Grid\Collection</item>
                <item name="magenest_director_listing_data_source" xsi:type="string">Magenest\Movie\Model\ResourceModel\Director\Grid\Collection</item>
                <item name="magenest_actor_listing_data_source" xsi:type="string">Magenest\Movie\Model\ResourceModel\Actor\Grid\Collection</item>


                <!--Join two table-->
                <!--data provider name which used in grid ui component file -->
<!--                <item name="magenest_movie_grid_list_data_source" xsi:type="string">Magenest\Movie\Model\ResourceModel\MageMovie\Grid\Collection</item>-->

            </argument>
        </arguments>
    </type>
<!--    <type name="Magenest\Movie\Model\ResourceModel\MageMovie\Grid\Collection">-->
<!--        <arguments>-->
<!--            <argument name="mainTable" xsi:type="string">magenest_movie</argument>-->
<!--            <argument name="eventPrefix" xsi:type="string">movie_magenest_collection</argument>-->
<!--            <argument name="eventObject" xsi:type="string">magenest_movie_collection</argument>-->
<!--            <argument name="resourceModel" xsi:type="string">Magenest\Movie\Model\ResourceModel\MageMovie</argument>-->
<!--        </arguments>-->
<!--    </type>-->

    <virtualType name="Magenest\Movie\Model\ResourceModel\MageMovie\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_movie</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Movie\Model\ResourceModel\MageMovie</argument>
        </arguments>
    </virtualType>

    <virtualType name="Magenest\Movie\Model\ResourceModel\Director\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_director</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Movie\Model\ResourceModel\Director</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magenest\Movie\Model\ResourceModel\Actor\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_actor</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Movie\Model\ResourceModel\Actor</argument>
        </arguments>
    </virtualType>

<!--    <type name="Magento\Checkout\Controller\Cart">-->
<!--        <plugin name="Magenest_Movie::change"-->
<!--                type="Magenest\Movie\Plugin\Checkout\Controller\Cart\Add" sortOrder="1" />-->
<!--    </type>-->


    <type name="Magento\Checkout\Model\Cart">
        <plugin name="Magenest_Movie::add_child_to_cart" type="Magenest\Movie\Plugin\Checkout\Model\Cart" sortOrder="1" />
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\Reporting">
        <plugin name="sales_grid_collection" type="\Magenest\Movie\Model\Plugin\Sales\Order\Grid"/>
    </type>





</config>



