<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation=
        "urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magenest" translate="label" sortOrder="500">
            <label>Magenest</label>
        </tab>
        <section id="movie" translate="label"
                 type="text" sortOrder="100"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Movie</label>
            <tab>magenest</tab>
            <resource>Magenest_Movie::config_movie</resource>
            <group id="magenest_page" translate="label"
                   type="text" sortOrder="1"
                   showInDefault="1" showInWebsite="1" showInStore="1">

                <label>Magenest Movie settings</label>
                <field id="txt_field" translate="label"
                       type="text" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Text Field</label>
<!--                <backend_model>Magenest\Movie\Model\Config\Backend\Custom</backend_model>-->
                </field>

                <field id="yes_no" translate="label"
                       type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label><![CDATA[Yes/No_Field_<span style="color:red">abcd</span>]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="custom_select_field" translate="label"
                       type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Custom Select Field</label>
                    <source_model>Magenest\Movie\Model\Config\Source\Relation</source_model>
                </field>
                <field id="magenest_get_all_movie" translate="label"
                       type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Magenest Movie</label>
                    <frontend_model>Magenest\Movie\Block\System\Config\Form\Field\Readonly</frontend_model>
                </field>
                <field id="magenest_get_all_actor" translate="label"
                       type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Magenest Actor</label>
                    <depends>
                        <field id="custom_select_field">1</field>
                    </depends>
                    <frontend_model>Magenest\Movie\Block\System\Config\Form\Field\ActorTableField</frontend_model>
                </field>
                <field id="button_field" translate="label"
                       type="button" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1" >
                    <label>Button Field</label>
                    <frontend_model>Magenest\Movie\Block\System\Config\Button</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
